<h1>Product list</h1>
<button class="btn btn-primary" routerLink="/products/add">Add product</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Product name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    @for (item of products; track item.id) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td>
          <Button class="btn btn-primary" [routerLink]="['/products/', item.id]">Edit</Button>
          <app-product-delete-modal
            [productId]="item.id" (refreshProducts)="productSubscribe()" class="ms-2"
          ></app-product-delete-modal>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="4">
          <p class="alert alert-info d-block w-100">There is no item in the database.</p>
        </td>
      </tr>
    }
  </tbody>
</table>
